<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Plain Old SQL Web App</display-name>
 <servlet>
  <servlet-name>posql</servlet-name>
  <servlet-class>com.github.timp21337.posql.POSQL</servlet-class>
 </servlet>

 <servlet-mapping>
  <servlet-name>posql</servlet-name>
  <url-pattern>/selection/*</url-pattern>
 </servlet-mapping>
  
</web-app>
